@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateX(-100%);
      opacity: 1;
    }
  }

.sobre__container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sobre__container-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.sobre__container-foto img {
    width:50%;
    height: 350px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px var(--cinza); 
}

.sobre__container-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    animation: slideInFromRight 1s ease-out forwards;
}

.sobre__container-textos h1 {
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    font-size: 2.5rem;
    color: var(--sub-subtitle-color)
}

.sobre__container-textos p {
    font-family: 'Montserrat', sans-serif; 
    font-weight: normal; 
    font-size: 1.5rem;
    color: var(--title-color);
    line-height: 35px;
}


.projetos__container {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.projetos__container-textos {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.projetos__container-textos h1 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    font-size: 2.5rem;
    color: var(--sub-subtitle-color)
}

.projetos__container-textos p {
    font-family: 'Montserrat', sans-serif; 
    font-weight: normal; 
    font-size: 1.5rem;
    color: var(--title-color);
    line-height: 35px;
}


.projetos__container-cards {
    width: 60%;
    height: auto;
    
    
}

.swiper-slide {
    animation: slideInFromBottom 2s ease-out forwards;
}

.habilidades__container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;  
}

.habilidades__container-textos {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    animation: slideInFromLeft 2s ease-out forwards;
}

.habilidades__container-cards {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}

.habilidades__container h1 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    font-size: 2.5rem;
    color: var(--sub-subtitle-color)
}

.habilidades__container p {
    font-family: 'Montserrat', sans-serif; 
    font-weight: normal; 
    font-size: 1.5rem;
    color: var(--title-color);
    line-height: 35px;
}


.icon {
    font-size: 5rem; 
    color: var(--title-color); 
    margin: 10px;  
    transition: transform 0.3s ease, color 1s ease  
}

.icon:hover {
    font-size: 5rem; 
    color: var(--title-color); 
    margin: 10px; 
    transform: translateY(-10px); /* Levanta o ícone 10px para cima */
    color: var(--sub-subtitle-color);   
}

.container-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    gap: 10px;
}

.container-icon  p {
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    color: var(--title-color)
}

@media (max-width: 640px) { 
    .sobre__container {
        display: flex;
        flex-direction: column;
    }

    .sobre__container-foto {
        width: 100%;
    }

    .sobre__container-foto img {
        
        height: 200px;

    }
    .sobre__container-textos {
        width: 90%;
    }

    .sobre__container-textos h1 {
        font-size: 2rem;

    }

    .sobre__container-textos p {
        font-size: 1rem;
        text-align: center;

    }

    .projetos__container {
        display: flex;
        flex-direction: column;

    }

    .projetos__container-textos {
        width: 90%;
    }

    .projetos__container-textos h1 {
        font-size: 2rem;
        text-align: center;
    }

    .projetos__container-textos p {
        font-size: 1rem;
        text-align: center;
    }

    .projetos__container-cards {
        width: 100%;
    }






    .habilidades__container {
        display: flex;
        flex-direction: column;
    }
    
    .habilidades__container-textos {
        width: 90%;
    }
    
    .habilidades__container-cards {
        width: 100%;
    }
    
    .habilidades__container h1 {
        text-align: center;
        font-size: 2rem;
    }
    
    .habilidades__container p {
        font-size: 1rem;
        text-align: center;
    }
    
    
    .icon {
        font-size: 3.5rem; 
    }

    .div-botao {
        width: 100%;
        display: flex;
        justify-content: center ;
    }
    
}
